<!--Navigation Start-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
<!--Navigation Bar-->
	<a class="navbar-brand" href="/">Ozan Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#coll"><span class="navbar-toggler-icon"></span></button>
    <!--Collapsible Navigation-->
    <div class="collapse navbar-collapse" id="coll">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="/"> Home </a></li>
            <li class="nav-item"><a class="nav-link" href="/about"> About </a></li>
            <li class="nav-item"><a class="nav-link" href="/artikel"> Artikel </a></li>
            <li class="nav-item"><a class="nav-link" href="#"> Ozan Lab </a></li>
        </ul>
    </div>
</nav>
